version: "3.3"
services:
  proxy:
    build: ./
    ports:
      - "3389:3389"
    restart: "unless-stopped"
    volumes:
      - /some/certificate/path:/external
    environment:
      - CERTIFICATE_CRT=/external/cert.crt
      - CERTIFICATE_KEY=/external/cert.key